body{
    font-family: 'PT Sans', sans-serif;
}
hr{
    background-color: white;
}
.dashboard{
    background-color: black;
    height: 100vh;
    color: white;

    &__player-name{
        text-align: center;
        padding: 2rem;
        padding-bottom: .5rem;
    }

    &__player-stats{
        color: white;
        padding: 1rem 0;
    }

    &__player-budget{
        padding: 1.5rem 0;
        text-align: center;
    }

    &__table-wrap{
        max-height: 60vh;
        overflow: scroll;
    }

    &__player-team{
        text-align: center;
        &--header{
        padding: 0rem .9rem;
        background-color: white;
        }
        &--item{
            padding: 0rem .9rem;
            background-color: white;
        }
    }
}


.activity{
    &__player{
        text-align: center;
        padding: 1rem 0;
    }
    &__fifa-card--left{
        -webkit-clip-path: polygon(17% 2%, 23% 0, 23% 94%, 0 88%, 0 16%, 12% 10%);
        clip-path: polygon(17% 2%, 23% 0, 23% 94%, 0 88%, 0 16%, 12% 10%);
        background-image: linear-gradient(180deg,#AD8F3B,#FFF0AA 25%,#AD8F3B);
        width: 185px;
        height: 281px;
        float: left;
       
    }
    &__fifa-card--right{
        -webkit-clip-path: polygon(23% 0, 77% 0, 83% 2%, 88% 10%, 100% 16%,100% 88%, 50% 100%, 23% 94%);
        clip-path: polygon(23% 0, 77% 0, 83% 2%, 88% 10%, 100% 16%,100% 88%, 50% 100%, 23% 94%);
        background-image: linear-gradient(180deg, #DBC371, #F9ECBF 20%,#DBC371 50%,#DBC369);
        width: 185px;
        height: 281px;
        position: relative;
    }
}

.fifa-card{

    padding: 0 40%;
    font-family: 'IBM Plex Sans', sans-serif;
    &__ovr{
        padding-top: 5rem;
        padding-left: .2rem;
    }
    &__pos{
        padding: 0rem 1rem;
    }
    &__club{
        width: 3rem;
        margin-left: .75rem;
    }
    &__country{
        display: block;
        width: 3rem;
        margin-left: .75rem;
        margin-top: 1rem;
    }
    &__photo{
        width: 10rem;
        position: absolute;
        padding-top: 2.5rem;
        left: 35%;
    }
    &__name{
        margin-top: 12.5rem;
        text-transform: uppercase;
        position: absolute;
        padding-left: 4.5rem;
        text-align: center;
        background-color: #ceb969;
        width: 100%;
    }
    &__stats{
        &--pac{
            &-value{
            position: absolute;
            padding-left: 6rem;
            padding-top: 16rem;
            }
            &-text{
                position: absolute;
                padding-left: 8rem;
                padding-top: 16rem;
            }
        }
        &--sho{ 
            &-value{
            position: absolute;
            padding-left: 12rem;
            padding-top: 16rem;
            }
            &-text{
                position: absolute;
                padding-left: 14rem;
                padding-top: 16rem;
            }
        }
        &--pas{ 
            &-value{
            position: absolute;
            padding-left: 6rem;
            padding-top: 19rem;
            }
            &-text{
                position: absolute;
                padding-left: 8rem;
                padding-top: 19rem;
            }
        }
        &--dri{
            &-value{
                position: absolute;
                padding-left: 12rem;
                padding-top: 19rem;
                }
                &-text{
                    position: absolute;
                    padding-left: 14rem;
                    padding-top: 19rem;
                }
        }
        &--def{
            &-value{
            position: absolute;
            padding-left: 6rem;
            padding-top: 22rem;
            }
            &-text{
                position: absolute;
                padding-left: 8rem;
                padding-top: 22rem;
            }
        }
        &--phy{
            &-value{
                position: absolute;
                padding-left: 12rem;
                padding-top: 22rem;
                }
                &-text{
                    position: absolute;
                    padding-left: 14rem;
                    padding-top: 22rem;
                }
        }

    }
}

.bid{
    text-align: center;
    padding: 3rem 1rem;
    &__input{
        width: 40vw;
        text-align: center;
    }
    &__btn{
        border: 1px solid black;
        background-color: white;
        border-radius: 1rem;
        padding: 0rem 3rem;
        transition: all .3s;
        margin: 3rem;
        &:hover{
            background-color: black;
            color: white;
        }
    }
    &__next-bid{
        &--input{
            width: 40vw;
            text-align: center;
        }
        &--btn{
            color: white;
            border: 1px solid white;
        background-color: black;
        border-radius: 1rem;
        padding: 0rem 3rem;
        transition: all .3s;
        margin: 3rem;
        &:hover{
            background-color: white;
            color: black;
        }
        }
    }
}